body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pattern1 {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.pattern2 {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.pattern3 {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.dot {
    width: 20px;
    height: 20px;
    background-color: skyblue;
    border-radius: 50%;
    display: inline-flex;
    padding: 0px;
    margin: 0px;
}

.row {
    padding: 0px;
    margin: 0px;
    display: flex;
}

.color-sq1 {
    border: 2px black solid;
    border-radius: 20%;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.color-sq2 {
    border: 2px black solid;
    border-radius: 20%;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.color-sq3 {
    border: 2px black solid;
    border-radius: 20%;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.chosen-colors {
    display: inline-flex;
}