<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Friendship Bracelets</title>
        <link rel="stylesheet" href="static/styles.css">
    </head>

    <body align="center">
        <h1>Friendship Bracelet Designer</h1>

        <form action="/generate-pattern">
            <input type="color" id="color1" name="color1">

            <input type="color" id="color2" name="color2">

            <input type="color" id="color3" name="color3">

            <br><br>

            <input type="radio" id="pattern1" name="pattern1">
            <label for="pattern1">1</label>

            <input type="radio" id="pattern2" name="pattern2">
            <label for="pattern2">2</label>

            <input type="radio" id="pattern3" name="pattern3">
            <label for="pattern3">3</label>
        </form>
    </body>
</html>