<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Friendship Bracelets</title>
        <link rel="stylesheet" href="static/styles.css">
    </head>

    <body align="center">
        <h1>Friendship Bracelet Designer</h1>

        <form action="/generate-pattern">
            <input type="color" id="color1" name="color1">

            <input type="color" id="color2" name="color2">

            <input type="color" id="color3" name="color3">

            <br><br>

            <input type="submit" value="Use These Colors">
        </form>
    </body>
</html>